@import '../../dev/sass/shared';

#browser-alert {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(white, .95);
  pointer-events: none;
  justify-content: center;
  align-items: center;
  &.show {
    display: flex;
  }
  .text-wrapper {
    color: #555;
    text-align: center;
    max-width: 800px;
    padding: 15px;
    font-size: 1.2em;
    p {
      font-size: 1.4em;
      &.small {
        font-size: 1em;
      }
      &:first-child {
        color: #555;
        font-size: 3em;
        font-weight: 700;
      }
    }
  }
}
