@import '../../dev/sass/shared';


@keyframes cn-text {
  0% {
    filter: blur(3px);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes cn-text-fadeoff {
  0% {
    filter: blur(0);
    opacity: 1;
  }

  20% {
    opacity: 1;
    filter: blur(3px);
  }

  100% {
    opacity: 0;
    filter: blur(3px);
  }
}

#cookie-notify {
  background-color: $cookie-bg-color;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease-out;
  z-index: 999;
  font-size: 0.75em;
  padding: 8px 0;
  @media (max-width: $small) {
    font-size: 0.9em;
  }

  &.show {
    opacity: 1;
    pointer-events: all;

    .text {
      animation-name: cn-text;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 0.2s;
    }
  }

  &.fadeOff {
    opacity: 0;
    transition-delay: 0.2s;
    pointer-events: none;

    .text {
      animation-name: cn-text-fadeoff;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-delay: 0s;
    }
  }

  .text {
    font-weight: 300;
    opacity: 0;
    filter: blur(5px);
    transition: all 0.2s ease-out;
    color: $cookie-font-color;
    text-align: center;
    padding: 0 var(--padding-small);

    p {
      text-align: center;
      font-weight: 300;
      display: inline;
    }

    a {
      display: inline-block;
      font-weight: 400;
      margin: 5px;
      text-decoration: none;
      color: $cookie-button-font-color;
      background-color: $cookie-button-bg-color;
      border: 1px solid $cookie-button-border-color;
      border-radius: 50px;
      padding: 5px 10px;
      transition: all 0.2s ease-out;
      // font-family: $primary-font-face;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      &:hover {
        color: $cookie-button-hover-font-color;
        background-color: $cookie-button-hover-bg-color;
        border-color: $cookie-button-hover-border-color;
      }

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }
}
